* {

    /* reset navegator presets*/

    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}


html {

    /*colors*/

    --black: #1b1b1b;
    --primary: #9C27B0;
    --mid-white: #F7FAFC;
    --gray: #D1D1D1;
    --white: #FFF;

    /*font family */

    font-family: 'Manrope', sans-serif;
    
}

body{
    background-color: var(--black); 
}

.container-nav {
    width: 1140px;
    margin: 0 auto;
    
}

nav {
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

li {
    margin-right: 56px;
    color:var(--gray);
    cursor: pointer;    
}

li:hover {
    color: var(--white);
    font-weight: 700px;
}

.logo {
    height: 15px;
    width: 15px;
}

.menu {
    width: 30px;
    height: 30px;
}

.container-main {
    width: 1140px;
    margin: 0 auto;
    padding: 16px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.container-left {
    grid-column-start: 1;
    grid-column-end: 2;
}


.container-right {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 70% 30%;
    
}

.triangules {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 236px;
    height: 296px;
    margin-top: 226px;
    
    
}

.content-h1 {
    margin-top: 96px;
}


h1 {
    font-size: 56px;
    color: var(--white);
    max-width: 60%;
    margin-bottom: 24px;
}

.description-h1 {
    font-size: 16px;
    color: var(--white);
    line-height: 170%;
    letter-spacing: .5px;
    max-width: 55%;
    font-weight: 300;
    margin-bottom: 24px;
}

.actions {
    margin-bottom: 24px;
}

.actions button {
    padding: 8px 16px;
    color: var(--white);
    background-color: var(--primary);
    font-weight: 500;
    margin-right: 16px;
    cursor: pointer;
}

.actions button:hover {
    opacity: .8;
}

.play {
    color: var(--white);
    align-items: center;
    cursor: pointer;
}

.actions img {
    margin-right: 8px;
}


.social-media img {
    height: 30px;
    width: 30px;
    margin-right: 16px;
}

.arrow {

margin-top:40px;

}


aside {
    color: var(--white);
    flex-direction: column;
    grid-row: 2/3;  
}

aside h4 {
    margin-top: 32px;
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: 300;
    margin-bottom: 8px;
    grid-column-start: 1;
}


aside a {
    cursor: pointer;
    margin-bottom: 16px;
}

footer {
    display: flex;
    justify-content: baseline ;
    width: 100%;
    color: var(--white);
    font-weight: 300;
    font-size: 14px;
    bottom: 0;
    padding: 16px 0;
    text-align: center;
    
}

footer a {
    cursor: pointer;
    color: var(--white);
}


@media (max-width: 992px) {
    .container-main {
        max-width: 960px;
    }

    .container-nav {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    
    .container-main {
        max-width: 720px;
    }
}